<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Dashboard</span>
    </div>
</nav>
<div class="container-fluid">

    <!-- Row 1 -->
    <div class="row">

        <!-- Col 1 -->
        <div class="col-4">
            <div class="chart">
                <app-chart1 [data]="data1"></app-chart1>
            </div>
        </div>

        <!-- Col 2 -->
        <div class="col-4">
            <div class="chart">
                <app-chart2 [data]="$data2 | async"></app-chart2>
            </div>
        </div>

        <!-- Col 3 -->
        <div class="col-4">
            <div class="chart">
                <app-chart3></app-chart3>
            </div>
        </div>

    </div>

    <!-- Row 2 -->
    <div class="row">

        <!-- Col 1 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

        <!-- Col 2 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

        <!-- Col 3 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

    </div>

    <!-- Row 3 -->
    <div class="row">

        <!-- Col 1 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

        <!-- Col 2 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

        <!-- Col 3 -->
        <div class="col-4">
            <div class="chart">
                
            </div>
        </div>

    </div>

</div>
