<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Dashboard</span>
    </div>
</nav>
<div class="container-fluid">

    <div class="chart">

        <!-- Chart -->
        <div class="chart-body">
            <app-chart8
                [geodata]="geoCountries$ | async"
                [data]="covidMap.data"
                (tooltip)="covidMap.tooltip($event)"
            ></app-chart8>
        </div>

        <!-- Play Slider -->
        <div class="chart-controller">
            <app-play-slider
                [min]="covidMap.sliderState.min"
                [max]="covidMap.sliderState.max"
                [step]="covidMap.sliderState.step"
                [speed]="covidMap.sliderState.speed"
                [value]="covidMap.currentDate"
                (changeValue)="covidMap.setMapData($event)"
            ></app-play-slider>
        </div>

        <!-- Tooltip -->
        <div class="map-tooltip" [ngStyle]="{
            'visibility': covidMap.tooltipState.visible ? '' : 'hidden',
            'left.px': covidMap.tooltipState.x,
            'top.px': covidMap.tooltipState.y
        }">
            <app-timeline-tooltip [data]="covidMap.tooltipData"></app-timeline-tooltip>
        </div>
    </div>

</div>
