svg {
    width: 100%;
    height: 100%;
}

rect, .tick {
    fill: #004494;
//    transition: all 300ms;
}

text.x-labels {
    text-anchor: middle;
    font-size: 12px;
}

line.x-axis {
    stroke: black;
    stroke-width: 0.5;
}
