.chart5 {
    text.title {
        font-size: 12px;
        font-weight: bold;
    }
    .legend-item {
        cursor: pointer;
        &:hover {
            font-weight: bold;
            transition: all 500ms;
        }
    }
}
